:root {
    --green: #3D8168;
    --grey: #6d6d6d;
    --white: #FFFFFF;
    --darkgreen: #194131;
}

.attribution { font-size: 11px; text-align: center; color: gray; font-family: "Open Sans", sans-serif;}
.attribution a { color: hsl(228, 45%, 44%); }

html {height: 100vh;}
body {height: 100%; background-color: #F3EAE3;}

main {
    height: 100%;
    display:grid;
    place-items: center;
}

.product-card {
    background-color: var(--white);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    margin: 4%;
}

.product-image {
    border-radius: 10px 10px 0 0;
}

.product-description {
    margin: 7.25%;
    display: flex;
    flex-direction: column;
}
h1 {
    color: var(--grey);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.3rem;
    
}
h2 {
    margin-top: 1rem;
    font-family: Fraunces, serif;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.2rem;
}
p {
    margin-top: 1.2rem;
    color:var(--grey);
    line-height: 1.5rem;
    letter-spacing: 0.8px;

    font-size: 0.85rem;
    font-family: "Open Sans", sans-serif;
}
.price {
    margin-top: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.discounted-price {
    font-family: Fraunces, serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--green)
}
.original-price {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    color: var(--grey);
    text-decoration: line-through;
}
.add-to-cart {
    margin-top: 0.8rem;
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    height: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.add-to-cart:hover {
    background-color: var(--darkgreen);
    cursor: pointer;
}
.add-to-cart > p {
    color: var(--white);
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
@media (min-width: 660px) {
    .product-card {
    flex-direction: row;
    max-width: 600px;
    height: 450px;
    }

    .product-image {
        border-radius: 10px 0 0 10px;
        height: 100%;
    }
    picture {
        width: 50%;
    }
    .product-description {
        height: 100%;
        width: 50%;
        margin: 0;
        padding: 2rem;
    }
    .price {
        margin-top: 1.2rem;
    }
    .add-to-cart {
        margin-top: 1.8rem;
        margin-bottom: 0rem;
    }
}